<!DOCTYPE html>
<html lang = "en">
    <script>
        const OnSubmitEmail=()=>{
        const successMessage = document.querySelector('#email').value;
        console.log(successMessage);
        }
    </script>
  <head>
    <style> 
      body {
        background-image: url("bg2.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      h1{
        color: white;
        text-align: center;
        -webkit-text-stroke: 1px black;
      }
      .cont{
        position: relative;
        left: 600px;
        top: 50px;
        color: white;
      }
    </style>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ForgetPassword</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class = "container">
      <h1>Recover your Password</h1>
    </div>
    <div class = "cont">
      <form method = "POST" onsubmit = "OnSubmitEmail()">
        Please Enter your Email:
        <br>
        <input type="text" id="email" name = "email">
        <br>
        <br>
        Please Enter your birthdate:
        <br>
        <input type="date" id="birthdate" name = "birthdate">
        <br>
        <br>
        Please Enter your new password:
        <br>
        <input type="password" id="password" name = "password">
        <br>
        <br>
        <input type="submit" value = "Change Password">
      </form>
    </div>
  </body>
</html>
